{%  extends 'base.html' %}

<!-- This screen will always display when user submits a password reset form, regardless of if the email is valid -->
<head>
    {% block head %}
        <!-- Set page title to login -->
        <title>Password Confirmation Sent</title>
    {% endblock %}
</head>

<body>

{% block header_page_info %}
- Password Reset
{% endblock %}

{% block header_signed_in_users %}
{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid">
        <h2>Password Reset Confirmation Sent</h2>
        <p>An email has been sent to the email address you entered giving instructions for resetting your password. </p>
        <p>If you have not received an email, check you entered the email address linked to you account, and check your
            spam folder.</p>
    </div>
{%  endblock %}