{% extends 'base.html' %}

<head>
    {% block head %}
        <!-- Set page title to login -->
        <title>Change Password</title>
    {% endblock %}
</head>

<body>

{% block header_page_info %}
- Create New Password
{% endblock %}

{% block header_signed_in_users %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid">
        <h2>Create New Password</h2>
        {% if validlink %}
            <form method="post">
                {%  csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Password</button>
            </form>
        {% else %}
            <p class="text-danger">Invalid request for changing password</p>
            <br>
            <a href="{% url 'accounts:password_reset' %}">To reset account password click here</a>
        {% endif %}
    </div>
{% endblock %}