{% extends 'base.html' %}

<head>
    {% block head %}
        <!-- Set page title to login -->
        <title>Password Reset</title>
    {% endblock %}
</head>

<body>

{% block header_page_info %}
- Password Reset Form
{% endblock %}

{% block header_signed_in_users %}
{% endblock %}

{% block navbar %}
    <a href="{% url 'accounts:login' %}">Return to Login Page</a>
{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid">
        <h2>Reset Password</h2>
        <form method="post">
            {%  csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}