{%  extends 'base.html' %}

{% load crispy_forms_tags %}

<head>
    {% block head %}
        <!-- Set page title to login -->
        <title>Vetting Committee - Amendments</title>
    {% endblock %}
</head>

<body>
{% block header_page_info %}
- Vetting Committee Amendments
{% endblock %}

{% block navbar %}
    <a href="{% url 'accounts:account_home' %}">Home</a>
    <a href="{% url 'teams:my-teams' %}">My Teams</a>
    <a class="ml-auto" href="{% url 'accounts:logout' %}">Logout</a>
{% endblock %}

{% block body %}
    <br>
    <!-- display details from past reviews -->
    <div class="container">
        <div class="card bg-light">
            <div class="card-header"><h5>Initial Draft</h5></div>
            <div class="card-body">
                <p class="card-text"><b>Exam Setter Comments:</b><br>
                    {{ initial_draft_ref.initial_draft_comments }}</p>
                <br>
                <a href="{{ initial_draft_ref.exam_paper.url }}" class="btn btn-warning">Exam Paper</a>
                <a href="{{ initial_draft_ref.marking_scheme.url }}" class="btn btn-warning"> Marking Scheme</a>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-header"><h5>Internal Review</h5></div>
            <div class="card-body">
                <p class="card-text"><b>Internal Reviewer Feedback:</b><br>
                    {{ internal_review_ref.internal_reviewer_feedback }}</p>
                <br>
                <p class="card-text"><b>Exam Setter Response:</b><br>
                    {{ internal_review_ref.exam_setter_response }}
                </p>
                <br>
                <a href="{{ internal_review_ref.exam_paper.url }}" class="btn btn-primary">Exam Paper</a>
                <a href="{{ internal_review_ref.marking_scheme.url }}" class="btn btn-primary">Marking Scheme</a>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-header"><h5>Vetting Committee</h5></div>
            <div class="card-body">
                <p class="card-text"><b>Vetting Committee Feedback:</b><br>
                    {{ vetting_ref.vetting_committee_feedback }}</p>
                <br>
                <p class="card-text"><b>Exam Setter Response:</b><br>
                    {{ vetting_review_ref.exam_setter_response }}
                </p>
            </div>
        </div>
        <br>
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Submit Feedback</button>
        </form>
    </div>
    </body>

{% endblock %}